.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

.btn-login1 {
  color: #fff;
  background: #6495ED;
}
.btn-login1:hover{
  color: #fff;
  background: #6495ED;
}