// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* body */

.left{
  // background: pink;
  float: left;
  margin-top: 50px;
  width: 50%;
}
.left-comment h1{
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0;
}

.left-comment{
  text-align:center; 
}

.comment{
  padding: 0;
}

.col-md-6{
  // background: red;
  margin-top: 20px;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

.btn-login1 {
  margin-top: 10px;
  color: #fff;
  background: #6495ED;
}
.btn-login1:hover{
  color: #fff;
  background: #6495ED;
}


// @media screen and (max-width: 765px){
@media screen and (max-width: 880px){
  
  .left{
    float: none;
    width: 100%;
  }
  
  .comment{
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .btn-signup{
    margin-top: -10px;
  }
  .col-md-6{
    margin-top: 50px;
    padding-top: 5px;
  }
}